/* styling header - # 1 */
header {
    
    border-style: solid;
    border-width: 1px;
    border-color: goldenrod;
}
/* styling #2 */
header > ul {
    display: flex;
    justify-content: space-between;   
}
/* #4 */
.disabled {
    color: gray;
}
span.disabled {
    color: purple;
}
/* 5 */
.active {
    color: yellow;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* #8 */
h4 + div > div {
    color: red;
}

/* #9 */
.parent :nth-child(3) {
    color: blue;
}
/* #11 */
.parent :nth-child(4) {
    color: black;
    background-color: blue;
}

/* #10 */
h4 ~ div :nth-child(2) {
    background-color: red;
}

/* #12 */
.grandparent > h4 {
    border: 1px solid black;
    border-radius: 25px;
}

/* 13 */
.promo {
    font: bold;
    color: gold;
}
/* #14 */
input[type=text] {
    height: 25px;
}